
/* Index.js */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Form.js */
.btn {
  width: 100%;
  margin: 10px 0 !important;
}

.btn-full {
  height: 100% !important;
}

.form-control {
  margin: 10px 0 !important;
}

.full-width {
  height: 75%;
  margin: 5px 0;
}

label {
  line-height: 50px !important;
  height: 50px;
}

.btn-update {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgb(238, 218, 162);
  
}
.btn-update button.btn.btn-link {
  color: rgb(59, 59, 59);
  margin: -6px 0 0 -9px !important;
  width: 50px;
}

.btn-delete {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgb(235, 128, 128);
}

.btn-delete button.btn.btn-link {
  color: rgb(59, 59, 59);
  margin: -6px 0 0 -10px !important;
  width: 50px;
}

.modal-margin {
  margin: 10px !important;
}

@media screen and (max-width: 991px) {
  .btn-full {
    height: unset;
  }

  .form-control {
    margin: 10px 0 !important;
  }

  .full-width {
    height: unset;
    margin: 0;
  }

  .rm-padding {
    padding: 0 !important;
  }
}
